.navigation {
    position: fixed;
    z-index: 100;
    right: 80px;
    top: 8px;
}

.hamburger {
    position: absolute;
    z-index: 20;
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: #000000;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  
  .hamburger:hover {
    opacity: 0.7;
  }

  
  .hamburger.isOpen:hover {
    opacity: 0.7;
  }
  
  .hamburger.isOpen .hamburgerInner,
  .hamburger.isOpen .hamburgerInner::before,
  .hamburger.isOpen .hamburgerInner::after {
    background-color: #FFF;

  }
  
  .hamburgerBox {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  
  .hamburgerInner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  
  .hamburgerInner,
  .hamburgerInner::before,
  .hamburgerInner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    cursor: pointer;
  }
  
  .hamburgerInner::before,
  .hamburgerInner::after {
    content: "";
    display: block;
  }
  
  .hamburgerInner::before {
    top: -10px;
  }
  
  .hamburgerInner::after {
    bottom: -10px;
  }
  
  .hamburgerCollapse .hamburgerInner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .hamburgerCollapse .hamburgerInner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  }
  
  .hamburgerCollapse .hamburgerInner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .hamburgerCollapse.isOpen .hamburgerInner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .hamburgerCollapse.isOpen .hamburgerInner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  }
  
  .hamburgerCollapse.isOpen .hamburgerInner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

.navigationItems {
    position: fixed;
    top: -100dvh;
    left: 0;
    z-index: 10;
    display: flex;

    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;

    text-align: center;
    gap: 22px;

    background-color: #374151;

    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navigationItemsOpen {
   top: 0
}

.navigationItem {
    font-size: 48px;
    color:  #e5e7eb;
}