@import "../styles/breakpoints.scss";

.page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 8px;
    padding-top: 64px;

    @include md {
        padding: 16px;
    }
    @include lg {
        padding: 16px;
    }
    @include xl {
        padding: 24px 96px;
    }
}

.title {
    span {
        display: inline-block;
    }

    font-size: 28px;
    font-weight: 600;

    @include md {
        font-size: 62px;
    }
    @include lg {
        font-size: 80px;
    }
    @include xl {
        font-size: 100px;
    }
}

.subTitle {
    margin-top: 2px;

    font-size: 18px;

    @include md {
        margin-top: 8px;
        font-size: 36px;
    }
}

.tagLine {
    margin-top: 16px;

    font-size: 16px;
    font-style: italic;
    color: #6b7280;

    @include md {
        margin-top: 8px;
        font-size: 16px;
    }
}

.techStack {
    margin-top: 32px;    
    @include md {
        margin-top: 64px;
    }
}

.techStackList {
    margin: 4px 0;
    padding: 12px 8px;
    columns: 2;
    padding-inline-start: 38px;
    font-size: 18px;
    line-height: 30px;

    background-color: #202e42;
    color: #e5e7eb;

    @include md {
        columns: 4;
        padding: 24px 16px;
        line-height: 36px;
        padding-inline-start: 42px;
    }

    border-radius: 8px;
}

.seeMyWork {
    position: fixed;
    z-index: -1;
    bottom: 16px;
    width: 100%;
    font-size: 20px;
    text-align: center;

    @include md {
        bottom: 24px;
        font-size: 24px;
    }
    animation: bounce 5s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    94% {
        transform: translateY(0);
    }
    96% {
        transform: translateY(-10px);
    }
    98% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}