@import "../styles/breakpoints.scss";

.container {
    padding: 24px;
    margin-bottom: 16px;
    line-height: 26px;

    li {
        margin-bottom: 12px;
    }
}

.titleContainer {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;

    @include md {
        display: flex;
        justify-content: space-between;
    }
}

.companyName {
    color: #2563eb;
    font-weight: 700;
}

.position {
    font-weight: 400;
    color: #4b5563;
}

.separator {
    color: #d1d5db;
    margin: 0 4px;
}

.date {
    font-size: 16px;
    font-weight: 400;
    color: #6b7280;

    @include md {
        font-size: 14px;
    }
}


.images, .domains {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
}

.domains {
    margin-top: 24px;
}

.domain, .imageLink {
    @include md {
        display: inline-block;
    }
}

.divider {
    display: inline-block;
    border-left: 1px solid #b7b6b6;
    height: 10px;
    width: 2px;
    margin: 0 8px;
}