@import "../../styles/breakpoints.scss";

.page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 64px 8px 8px 8px;

    @include md {
        padding: 64px 16px 16px;
    }
    @include lg {
        padding: 64px 16px 16px;
    }
    @include xl {
        padding: 64px 96px 24px;
    }
}